{% extends 'blog/base.html' %}

{% block content %}
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info btn-sm" href="?page=1"> First </a>
            <a class="btn btn-outline-info btn-sm" href="?page={{ page_obj.previous_page_number }}"> Previous </a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info btn-sm" href="?page={{ num }}"> {{ num }} </a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-info btn-sm" href="?page={{ num }}"> {{ num }} </a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info btn-sm" href="?page={{ page_obj.next_page_number }}"> Next </a>
            <a class="btn btn-outline-info btn-sm" href="?page={{ page_obj.paginator.num_pages }}"> Last </a>
        {% endif %}
        <hr>
    {% endif %}
    <h4> Posts by {{ view.kwargs.username }} ({{page_obj.paginator.count}}) </h4>
    {% for post in posts%}
    <div class="jumbotron">
        <div class="card">
            <div class="card-header">
                <h5><a href="{% url 'post-detail' post.id %}"> {{ post.title }} </a></h5>
            </div>
            <div class="card-body">
                <img src="{{ post.author.profile.image.url }}" class="img" style="float: right;"/> <br>
                <p class="card-title" >{{ post.content }}</p>
                <hr>
                <h5 class="card-text">This post was written by <a href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a> on {{ post.date_posted|date:"F d, Y" }}</h5>
                
            </div> 
        </div>
    </div>
        <br>
    {% endfor %}

{% endblock content %}